$backgroundColor: #ededef;
$breakpoint-md: 1000px;
$breakpoint-sm: 425px;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-img {
  position: static;
  min-height: 700px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
  @media only screen and (max-width: $breakpoint-md) {
    min-height: 500px;
  }
  @media only screen and (max-width: $breakpoint-sm) {
    min-height: 300px;
    background-attachment: unset;
  }
}

.about-image {
  margin-right: 5%;
}
.menu-image {
  margin-left: 5%;
}

.container {
  @include flexCenter();
  padding: 5% 3% 5% 3%;
  background-color: $backgroundColor;
  @media only screen and (max-width: 890px) {
    flex-direction: column;
  }
}

.food-container {
  @include flexCenter();
  padding-block: 10%;
  background-color: $backgroundColor;
}

.menu-container {
  background-color: $backgroundColor;
  display: flex;
  flex-direction: column;
  padding-inline: 10%;
  padding-bottom: 10%;
}

.main-text-container {
  @include flexCenter();
  flex-direction: column;
}
.body-list {
  line-height: 2.5em;
  margin: 0em;
}
.open-hour-texts {
  @include flexCenter();
  flex-direction: column;
  margin: 0;
}

.sandwich-list {
  list-style-type: none;
}
.table-container {
  display: grid;
  @media only screen and (min-width: $breakpoint-md) {
    grid-template-columns: 60% 60%;
  }
  column-gap: 10%;
  justify-content: center;
  .table-header {
    width: 300px;
  }
  margin-top: 3%;
}

.container-gallery-pics {
  background-color: $backgroundColor;
  padding-block: 10%;
  display: grid;
  @media only screen and (min-width: $breakpoint-md) {
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 30% 30% 30%;
  }
  @media only screen and (max-width: $breakpoint-md) {
    grid-template-columns: 40% 40%;
  }
  justify-content: center;
  justify-items: center;
}
.gallery-pics {
  width: 100%;
  height: auto;
}
.google-map {
  @media only screen and (min-width: 890px) {
    margin-right: 5%;
  }
}
.map-container {
  height: "100%";
  width: "100%";
}
