@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Limelight&display=swap");

.header {
  display: flex;
  align-items: center;
  padding-inline: 5%;
  background-color: $backgroundColor;
}
.header-title {
  @include headerTitle();
  flex-grow: 1;
}

.header-menu {
  font-family: Lato;
  color: $primaryText;
  display: flex;
  margin-inline: 2vh;
  font-size: 24px;
}
