@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Limelight&display=swap");
.bg-img {
  position: static;
  min-height: 700px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
}

@media only screen and (max-width: 1000px) {
  .bg-img {
    min-height: 500px;
  }
}

@media only screen and (max-width: 425px) {
  .bg-img {
    min-height: 300px;
    background-attachment: unset;
  }
}

.about-image {
  margin-right: 5%;
}

.menu-image {
  margin-left: 5%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5% 3% 5% 3%;
  background-color: #ededef;
}

@media only screen and (max-width: 890px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.food-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 10%;
  background-color: #ededef;
}

.menu-container {
  background-color: #ededef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-inline: 10%;
  padding-bottom: 10%;
}

.main-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body-list {
  line-height: 2.5em;
  margin: 0em;
}

.open-hour-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.sandwich-list {
  list-style-type: none;
}

.table-container {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 10%;
          column-gap: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3%;
}

@media only screen and (min-width: 1000px) {
  .table-container {
    -ms-grid-columns: 60% 60%;
        grid-template-columns: 60% 60%;
  }
}

.table-container .table-header {
  width: 300px;
}

.gallery-pics {
  background-color: #ededef;
  padding-block: 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25%;
      grid-template-columns: 25% 25% 25%;
  -ms-grid-rows: 30% 30% 30%;
      grid-template-rows: 30% 30% 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

@media only screen and (min-width: 890px) {
  .google-map {
    margin-right: 5%;
  }
}

.map-container {
  height: "100%";
  width: "100%";
}

p {
  margin: 0;
}

.header-menu {
  font-family: Lato;
  color: #553300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-inline: 2vh;
  font-size: 24px;
}

@media only screen and (max-width: 1000px) {
  .header-menu {
    font-size: 18px;
  }
}

@media only screen and (max-width: 425px) {
  .header-menu {
    font-size: 14px;
  }
}

.header-menu:hover {
  border-bottom: 3px solid #c4c4c4;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .header-menu:hover {
    background-color: #dedede;
    border-bottom: none;
  }
}

.page-title {
  font-family: Lato;
  color: #553300;
  font-size: 58px;
  border-bottom: 8px dotted #c4c4c4;
  border-top: 8px dotted #c4c4c4;
  font-weight: 400;
  padding: 5% 5%;
  margin-block: 0.5em;
}

@media only screen and (max-width: 1000px) {
  .page-title {
    font-size: 42px;
  }
}

@media only screen and (max-width: 425px) {
  .page-title {
    font-size: 36px;
  }
}

.body-text {
  font-family: Lato;
  color: #553300;
  font-size: 24px;
  margin-bottom: 1vh;
}

@media only screen and (max-width: 1000px) {
  .body-text {
    font-size: 20px;
  }
}

@media only screen and (max-width: 425px) {
  .body-text {
    font-size: 16px;
  }
}

.sub-title {
  color: #a16100;
  font-size: 30px;
  margin-top: 1em;
  margin-bottom: 0.4em;
}

@media only screen and (max-width: 1000px) {
  .sub-title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 425px) {
  .sub-title {
    font-size: 18px;
  }
}

.logo-title {
  font-family: Limelight;
  color: #a16100;
  font-size: 48px;
  font-weight: 300;
  margin-top: 0em;
  margin-bottom: 0.2em;
}

@media only screen and (max-width: 1000px) {
  .logo-title {
    font-size: 36px;
  }
}

@media only screen and (max-width: 425px) {
  .logo-title {
    font-size: 24px;
  }
}

.second-text {
  color: #815c4c;
  font-size: 18px;
  margin-bottom: 3vh;
}

@media only screen and (max-width: 1000px) {
  .second-text {
    font-size: 16px;
  }
}

@media only screen and (max-width: 425px) {
  .second-text {
    font-size: 14px;
  }
}

.drink-text {
  font-family: Lato;
  color: #553300;
  font-size: 24px;
  margin: 0;
}

@media only screen and (max-width: 1000px) {
  .drink-text {
    font-size: 20px;
  }
}

@media only screen and (max-width: 425px) {
  .drink-text {
    font-size: 16px;
  }
}

.drink-price-text {
  color: #815c4c;
  font-size: 18px;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .drink-price-text {
    font-size: 16px;
  }
}

@media only screen and (max-width: 425px) {
  .drink-price-text {
    font-size: 14px;
  }
}

.contact-text {
  font-family: Lato;
  color: #553300;
  font-size: 24px;
  margin-bottom: 1vh;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .contact-text {
    font-size: 20px;
  }
}

@media only screen and (max-width: 425px) {
  .contact-text {
    font-size: 16px;
  }
}

.header {
  position: fixed;
  width: 100%;
  background-color: #ededef;
}

.header-title {
  font-family: Limelight;
  color: #a16100;
  font-size: 48px;
  font-weight: 300;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media only screen and (max-width: 1000px) {
  .header-title {
    font-size: 36px;
  }
}

@media only screen and (max-width: 425px) {
  .header-title {
    font-size: 24px;
  }
}

.header-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5% 0 5%;
}

/* hamburgerMenu */
@media only screen and (max-width: 1000px) {
  .hamburgerMenu {
    position: fixed;
    right: -70%;
    width: 50%;
    height: 70vh;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #553300;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.85);
  }
  .hamburgerMenu.open {
    padding: 8% 0 0 0;
    right: 0;
  }
  .header-menu {
    margin: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 24px;
  }
}

.hamburger-button {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 36px;
  height: 36px;
  z-index: 10;
  border: none;
  background-color: transparent;
}

.hamburger-button-line {
  display: block;
  position: relative;
  width: 100%;
  height: 4px;
  background-color: #553300;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.hamburger-button-line::before,
.hamburger-button-line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0px;
  background-color: #553300;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.hamburger-button-line::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.hamburger-button-line::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.hamburger-button-line.open {
  background-color: transparent;
}

.hamburger-button-line.open::before,
.hamburger-button-line.open::after {
  background-color: transparent;
  content: "";
  background-color: #553300;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.hamburger-button-line.open::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger-button-line.open::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/*# sourceMappingURL=App.css.map */