@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
.about-image {
  margin-right: 5%;
}

.menu-image {
  margin-left: 5%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-block: 5%;
  background-color: #ededef;
}

.menu-container {
  background-color: #ededef;
}

.main-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5%;
}

.body-list {
  line-height: 2.5em;
  margin: 0em;
}

.open-hour-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.sandwich-list {
  list-style-type: none;
}

.table-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-column-gap: 10%;
          column-gap: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3%;
}

.table-container .table-header {
  width: 300px;
}

.gallery-pics {
  background-color: #ededef;
  margin: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  -ms-grid-rows: 30% 30% 30%;
      grid-template-rows: 30% 30% 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.map-container {
  height: "100vh";
  width: "100%";
}

p {
  margin: 0;
}

.page-title {
  color: #553300;
  font-size: 64px;
  border-bottom: 8px dotted #c4c4c4;
  border-top: 8px dotted #c4c4c4;
  margin-block: 0.5em;
}

.body-text {
  color: #553300;
  font-size: 24px;
  margin-bottom: 1vh;
}

.sub-title {
  color: #a16100;
  font-size: 30px;
  margin-top: 1em;
  margin-bottom: 0.4em;
}

.logo-title {
  font-family: Limelight;
  font-size: 48px;
  color: #a16100;
  margin-top: 0em;
  margin-bottom: 0.2em;
}

.second-text {
  color: #815c4c;
  font-size: 18px;
  margin-bottom: 3vh;
}

.drink-text {
  color: #553300;
  font-size: 24px;
  margin: 0;
}

.drink-price-text {
  color: #815c4c;
  font-size: 18px;
  margin: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: 5%;
  background-color: #ededef;
}

.header-title {
  font-family: Limelight;
  font-size: 48px;
  color: #a16100;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header-menu {
  color: #553300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-inline: 2vh;
  font-size: 20px;
}

body {
  background-image: url(../image/Background.jpg);
  background-size: contain;
}
/*# sourceMappingURL=App.css.map */